/* main.css */

/* Phones */
	/* Navbar */
	.navbar-brand  {
		font-size: 18px;
	}
	.navbar-nav {
		font-size: 18px;
	}
	
	/* Footer */
	footer {
		margin-top: 25px;
	}
	.icon {
		margin-right: 10px;
	}


/* tablets */
@media (min-width: 768px) {
	/* Navbar */
	.navbar-brand  {
		font-size: 20px;
	}
	.navbar-nav {
		font-size: 20px;
	}
	
	.navbar-left a {
		margin-right: 25px;
	}

	.navbar-right a {
		margin-left: 25px;
	}
	/* Footer */
	footer {
		margin-top: 50px;
	}
	.icon {
		margin-right: 15px;
	}
}
/* desktops */
@media (min-width: 992px) {
	/* Navbar */
	.navbar-brand  {
		font-size: 24px;
	}
	.navbar-nav {
		font-size: 24px;
	}
	
	.navbar-left a {
		margin-right: 75px;
	}

	.navbar-right a {
		margin-left: 75px;
	}
	/* Footer */
	footer {
		margin-top: 50px;
	}
	.icon {
		margin-right: 15px;
	}
}