/* main.css */

/* Phones */
	/* Navbar */
	.navbar-brand  {
		font-size: 18px;
	}
	.navbar-nav {
		font-size: 18px;
	}
	
	/* Body */
	p {
		font-size: 16px;
	}
	
	/* Footer */
	footer {
		margin-top: 25px;
	}
	.icon {
		margin-right: 5px;
		margin-left: 5px;
	}

    /* Home */
    .home-video {
        margin-top: 50px;
    }

    .carousel-caption h3 {
        font-size: 16px;
    }
	
	.browserupgrade {
		font-size: 18px;
	}


/* tablets */
@media (min-width: 768px) {
	/* Navbar */
	.navbar-brand  {
		font-size: 18px;
	}
	.navbar-nav {
		font-size: 18px;
	}
	
	
	/* Body */
	p {
		font-size: 16px;
	}
	
	/* Footer */
	footer {
		margin-top: 50px;
	}
	.icon {
		margin-right: 10px;
		margin-left: 10px;
	}

    .carousel-caption h3 {
        font-size: 24px;
    }
}
/* desktops */
@media (min-width: 992px) {
	/* Navbar */
	.navbar-brand  {
		font-size: 24px;
	}
	.navbar-nav {
		font-size: 24px;
	}
	
	/* Body */
	p {
		font-size: 18px;
	}
	
	/* Footer */
	footer {
		margin-top: 50px;
	}
	.icon {
		margin-right: 10px;
		margin-left: 10px;
	}
    .carousel-caption h3 {
        font-size: 28px;
    }
}